---
#Front End Matter Initialization - Do Not Delete This
---
@import "common.scss";
@import "common-imports/app-nav.scss";
@import "common-imports/app-footer.scss";
@import "common-imports/snackbar.scss";
@import "vendor-components/owl-carousel-2/owl.carousel.scss";
@import "vendor-components/owl-carousel-2/owl.theme.default.scss";

.homePage {
  .jumbotronSection {
    padding: 80px 20px;
    .customRow.top {
      max-width: 600px;
      margin: 0 auto;
      .segment {
        h1 {
          margin-top: 0;
          margin-bottom: 8px;
          font-size: 3.6rem;
          color: $black;
        }
        .subTitle {
          font-size: 1.8rem;
          line-height: 25px;
          font-weight: 200;
          margin-bottom: 15px;
        }
        .followMeText {
          display: inline-block;
          text-align: center;
          font-size: 1.2rem;
          vertical-align: middle;
          margin-top: -15px;
          margin-right: 5px;
          color: #1a1ae1;
        }
        .followMe {
          margin-bottom: 30px;
          display: inline-block;
          li {
            display: inline-block;
            margin-right: 6px;
            a {
              display: block;
              img {
                width: 23px;
              }
            }
          }
        }
        .heroImage {
          border-radius: 50%;
        }
        .metaItem {
          width: 50%;
          float: left;
          padding: 0 15px 0 0;
          margin-bottom: 35px;
          .title, .text {
            display: block;
          }
          .title {
            font-size: 2.5rem;
            font-weight: 700;
          }
          .text {
            color: #444;
            font-weight: 300;
            font-size: 1.4rem;
            line-height: 22px;
          }
        }
      }
      .segment:first-child {
        text-align: center;
      }
      .segment:nth-child(2) {
        overflow: hidden;
        position: relative;
        max-width: 400px;
        margin: 0 auto 30px;
        border-radius: 50%;
        padding: 15px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      }
    }
  }
  .favoriteThings  {
    padding: 80px 20px;
    background: #f6f6f6;
    .borderBoxContainer {
      max-width: 600px;
      margin: 0 auto;
      .things {
        text-transform: uppercase;
        font-size: 3.5rem;
        line-height: 40px;
        word-break: break-all;
        font-weight: 800;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        .odd {
          color: #8930e8;
        }
        .even {
          color: #08c18a;
        }
      }
      .text {
        font-size: 4.0rem;
        line-height: 45px;
        font-weight: 700;
        letter-spacing: -2px;
      }
    }
  }
  .skillsParent {
    padding: 80px 20px;
    .borderBoxContainer {
      max-width: 600px;
      margin: 0 auto;
      h2 {
        margin-top: 0;
        margin-bottom: 60px;
        font-size: 3.6rem;
        line-height: 37px;
        color: $black;
      }
      .codeIcon {
        width: 50px;
      }
      .introText {
        color: #444;
        font-size: 1.3rem;
        font-weight: 400;
        margin-bottom: 9px;
        text-transform: uppercase;
      }
      .dsaCarousel {
        .owl-stage {
          padding-left: 0 !important;
        }
        .owl-dots {
          margin-top: 35px;
          .owl-dot {
            span {
              width: 8px;
              height: 8px;
              margin: 5px 5px 1px 5px;
              background: #666;
            }
          }
          .owl-dot.active {
            span {
              background: #08c18a;
            }
          }
        }
        .item {
          margin-right: 10px;
          border-radius: 10px;
          .text {
            padding-right: 20px;
            h3 {
              font-weight: 600;
              font-size: 1.5rem;
              text-transform: uppercase;
            }
            p {
              font-size: 1.4rem;
              line-height: 21px;
              color: #555;
              font-weight: 300;
            }
          }
        }
      }
    }
  }
  .contactMeParent {
    padding: 80px 20px;
    .borderBoxContainer {
      max-width: 600px;
      margin: 0 auto;
      h3 {
        margin-top: 0;
        margin-bottom: 30px;
        font-size: 3.6rem;
        line-height: 37px;
        color: $black;
      }
      .helloIcon {
        width: 50px;
      }
      .form {
        .form-group {
          margin-bottom: 25px;
          label {
            font-size: 1.3rem;
            font-weight: 400;
            margin-bottom: 9px;
          }
          input[type=email],
          input[type=number] {
            line-height: 32px;
            height: auto;
            border-radius: 0;
            border: 0;
            box-shadow: none;
            background: #f5f5f5;
            color: $black;
          }
          textarea {
            border: 0;
            border-radius: 0;
            box-shadow: none;
            background: #f5f5f5;
            color: $black;
            padding: 12px;
          }
          .highlight {
            @include app-transition(all, 0.15s, linear);
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2px;
            background: $green;
          }
          input[type=email]:focus ~ .highlight,
          input[type=number]:focus ~ .highlight,
          textarea:focus ~ .highlight {
            width: 100%;
          }
          .error {
            position: absolute;
            top: 15px;
            right: 5px;
            padding: 1px 2px;
            color: $white;
            background: $red;
            width: 30px;
            text-align: center;
            border-radius: 10px;
            font-weight: 500;
            font-size: 1.4rem;
            opacity: 0;
            transform: translateY(15px);
            -webkit-transform: translateY(15px);
            @include app-transition(all, 0.15s, linear);
          }
          .error.show {
            opacity: 1;
            transform: translateY(0);
            -webkit-transform: translateY(0);
          }
          .error:after {
            content: "";
            position: absolute;
            bottom: -5px;
            right: 2px;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid $red;
          }
        }
        .submitBtn {
          width: 100%;
          height: 48px;
          font-size: 1.2rem;
          .text {
            display: inline-block;
            background: url('/assets/icons/right-arrow-white.svg') no-repeat right center;
            background-size: 15px;
            padding-right: 20px;
          }
          .spinner {
            width: auto;
            height: 100%;
            display: none;
          }
        }
        .submitBtn.processing {
          .text {
            display: none;
          }
          .spinner {
            display: block;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .homePage {
    .jumbotronSection {
      .customRow.top {
        .segment {
          h1 {
            font-size: 4.0rem;
            line-height: 43px;
          }
          .subTitle {
            line-height: 27px;
          }
          .metaItem {
            width: 33%;
          }
        }
        .segment:first-child {
          width: 50%;
          float: left;
          text-align: left;
        }
        .segment:nth-child(2) {
          width: 50%;
          max-width: 400px;
          float: left;
        }
        .segment:last-child {
          clear: both;
        }
      }
    }
    .skillsParent {
      .borderBoxContainer {
        h2 {
          display: inline-block;
          margin-left: 9px;
          font-size: 4.0rem;
          line-height: 43px;
        }
        .codeIcon {
          display: inline-block;
          width: 80px;
          vertical-align: middle;
          margin-top: -72px;
        }
      }
    }
    .contactMeParent {
      .borderBoxContainer {
        h3 {
          display: inline-block;
          margin-left: 9px;
          font-size: 4.0rem;
          line-height: 43px;
        }
        .helloIcon {
          display: inline-block;
          width: 80px;
          vertical-align: middle;
          margin-top: -72px;
        }
        .form {
          .form-group.email,
          .form-group.number {
            width: 49%;
            float: left;
          }
          .form-group.email {
            margin-right: 2%;
          }
          .submitBtn {
            width: 300px;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 992px) {
  .homePage {
    .jumbotronSection {
      .customRow.top {
        max-width: 750px;
        .segment {
          .metaItem {
            width: 100%;
            float: none;
            text-align: right;
          }
        }
        .segment:first-child {
          width: 35%;
        }
        .segment:nth-child(2) {
          width: 40%;
        }
        .segment.last {
          width: 25%;
          float: left;
          clear: unset;
        }
      }
    }
    .contactMeParent {
      .borderBoxContainer {
        max-width: 750px;
      }
    }
    .favoriteThings {
      .borderBoxContainer {
        max-width: 750px;
      }
    }
    .skillsParent {
      .borderBoxContainer {
        max-width: 750px;
      }
    }
  }
}
@media only screen and (min-width: 1200px) {
  .homePage {
    .jumbotronSection {
      padding: 150px 20px;
      .customRow.top {
        max-width: 1100px;
        .segment {
          h1 {
            font-size:  6.0rem;
            line-height: 57px;
            letter-spacing: -2px;
          }
          .metaItem {
            padding-right: 0;
          }
        }
        .segment.last {
          width: calc(100% - 384px - 401px);
          float: left;
          clear: unset;
        }
        .followParent {
          position: absolute;
          bottom: 0;
          left: 0;
          .followMe {
            margin-bottom: 0;
          }
        }
        .keysDiv {
          position: absolute;
          bottom: 0;
          right: 30px;
          ul {
            margin-bottom: 0;
            li {
              width: 60px;
              display: inline-block;
              margin-right: -19px;
              img {
                margin-right: -20px;
              }
            }
          }
        }
      }
    }
    .contactMeParent {
      padding: 150px 20px;
      .borderBoxContainer {
        max-width: 1100px;
        h3 {
          font-size: 6.0rem;
          line-height: 58px;
          letter-spacing: -2px;
        }
      }
    }
    .favoriteThings {
      padding: 100px 20px;
      .borderBoxContainer {
        max-width: 1100px;
        .things {
          font-size: 5.5rem;
          line-height: 56px;
        }
        .text {
          font-size: 6rem;
          line-height: 60px;
        }
      }
    }
    .skillsParent {
      padding: 100px 20px;
      .borderBoxContainer {
        max-width: 1100px;
        h2 {
          font-size: 6.0rem;
          line-height: 58px;
          letter-spacing: -2px;
        }
      }
    }
  }
}
