---
layout: default
title: Sricharan Krishnan | The Aspiring Builder, Student of the Art, Developer Underdog 
metaDescription: This is just me. A web developer who's got a unique background. I Work. I Build. I Code. I'm Still Learning. 
metaKeywords: "sricharan krishnan, sricharan, aspiring builder, developer underdog"
permalink: "/"
bodyClass: homePage
stylesheet: "home-page.css"
jsfile: "main.js"
---
<!-- jumbotron cover -->
<div class="jumbotronSection positionRelative" id="jumbotronSection"
data-mp4="/assets/videos/jumbotron-video-bg.mp4"
data-webm="/assets/videos/jumbotron-video-bg.webm">
  <div class="posContainer">
    <img src="https://avatars.githubusercontent.com/u/19187230?v=4" 
    class="img-responsive center-block" alt="Sricharan Krishnan" title="Sricharan Krishnan"/>
    <h1>Sricharan Krishnan</h1>
    <p>The Aspiring Builder // Student of the Art of Code // <br class="hidden-xs"/>Developer Underdog</p>
  </div>
  <span class="circle"></span>
  <span class="email">sricharan.krishnan@gmail.com</span>
  <div class="github">
    <a href="https://github.com/sricharankrishnan">
      <img src="/assets/icons/github-icon.svg" class="img-responsive" alt="Github - Sricharan Krishnan" title="Github - Sricharan Krishnan"/>
      <span class="hidden-xs">https://github.com/sricharankrishnan</span>
    </a>
  </div>
  <div class="linkedIn">
    <a href="https://in.linkedin.com/in/sricharan-krishnan">
      <img src="/assets/icons/linkedin-icon.svg" class="img-responsive" alt="LinkedIn - Sricharan Krishnan" title="LinkedIn - Sricharan Krishnan"/>
      <span class="hidden-xs">https://in.linkedin.com/in/sricharan-krishnan</span>
    </a>
  </div>
</div>
