<div class="appFooter">
  <div class="borderBoxContainer customRow">
    <div class="posContainer">
      <img src="/assets/icons/app-icon-white.svg" class="img-responsive footerAppIcon" alt="Sricharan Krishnan" title="Sricharan Krishnan"/>
      <h4>Sricharan Krishnan</h4>
      <span class="subText">Web Developer // The Aspiring Builder // Developer Underdog</span>
      <p> Sricharan started his career in the Hospitality Industry, which spanned 7 years working in the Front Office Department. Graduated from Welcomgroup Graduate School of Hotel Administration, Manipal in 2008.</p>
      <p>In 2016, an unexpected yet interesting opportunity came up to become a Web Developer. The Intern position at Hasura was the first tech role that gave way to learning about becoming a Web Developer inspite of being a Non CS or Engineering Graduate.</p>
    </div>
    <div class="links">
      <ul class="list-unstyled">
        <li>
          <a href="https://github.com/sricharankrishnan">
            <img src="/assets/icons/github-icon.svg" class="img-responsive" alt="Sricharan Krishnan | Github" title="Sricharan Krishnan | Github"/>
          </a>
        </li>
        <li>
          <a href="https://in.linkedin.com/in/sricharan-krishnan/">
            <img src="/assets/icons/linkedin-icon.svg" class="img-responsive" alt="Sricharan Krishnan | Linkedin" title="Sricharan Krishnan | Linkedin"/>
          </a>
        </li>
      </ul>
      <span class="subtext visible-lg">Connect with me</span>
    </div>
  </div>
  <div class="gadRow customRow visible-lg">
    <div class="fGad">
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Ad Space Small -->
      <ins class="adsbygoogle fAd"
           style="display:block;width:320px;height:50px"
           data-ad-client="ca-pub-7129312127229999"
           data-ad-slot="9512353977"></ins>
      <script>
           (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
    <div class="fGad">
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Ad Space Small -->
      <ins class="adsbygoogle fAd"
           style="display:block;width:320px;height:50px"
           data-ad-client="ca-pub-7129312127229999"
           data-ad-slot="9512353977"></ins>
      <script>
           (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
    <div class="fGad">
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Ad Space Small -->
      <ins class="adsbygoogle fAd"
           style="display:block;width:320px;height:50px"
           data-ad-client="ca-pub-7129312127229999"
           data-ad-slot="9512353977"></ins>
      <script>
           (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>
</div>
