@import "variables";

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  .appNavParent {
    .appLogo {
      width: 55px;
      height: 55px;
      margin: 0 auto;
      padding: 15px 10px;
    }
  }
}
