---
#Front End Matter Initialization - Do Not Delete This
---
@import "common.scss";
@import "common-imports/app-nav.scss";
@import "common-imports/app-footer.scss";

.pageNotFound {
  .jumbotronSection {
    background: $black;
    height: calc(100vh - 60px - 80px);
    .posContainer {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      left: 0;
      width: 100%;
      padding: 15px;
      z-index: 10;
      img {
        width: 50px;
        margin-bottom: 10px;
      }
      h1, p {
        color: $white;
      }
      h1 {
        margin-top: 0;
        text-transform: uppercase;
      }
      p {
        margin-bottom: 0;
      }
    }
  }
  .jumbotronSection:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
  }
}
@media only screen and (min-width: 768px) {
  .pageNotFound {
    .jumbotronSection {
      height: calc(100vh - 60px - 60px);
    }
  }
}
