---
permalink: "/"
bodyClass: homePage
bodyId: homePage
jsfile: "home/index"
---
<!--jumbotron section starts here-->
<section class="jumbotronSection" id="jumbotronSection">
  <div class="customRow top positionRelative">
    <!-- intro -->
    <div class="segment">
      <h1>I'm <br class="visible-lg"/>Sricharan Krishnan</h1>
      <p class="subTitle">Software Developer <br/>Based in Chennai, Tamil Nadu</p>
      <div class="followParent">
        <span class="followMeText">Follow Me:</span>
        <ul class="list-unstyled followMe">
          <li>
            <a href="https://github.com/sricharankrishnan" target="_blank">
              <img src="/assets/icons/github-icon.svg" class="img-responsive center-block"
              alt="Sricharan Krishnan | Github.com" title="Sricharan Krishnan | Github.com"/>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/sricharan-krishnan/" target="_blank">
              <img src="/assets/icons/linkedin-icon.svg" class="img-responsive center-block linkedIn"
              alt="Sricharan Krishnan | LinkedIn.com" title="Sricharan Krishnan | LinkedIn.com"/>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- photo -->
    <div class="segment">
      <img src="https://avatars.githubusercontent.com/u/19187230?v=4"
      class="img-responsive center-block heroImage"
      alt="Hero Image"
      title="Sricharan Krishnan | The Aspiring Builder/Student of the Art of Code/Developer Underdog"/>
    </div>

    <!-- meta -->
    <div class="segment customRow last">
      <div class="metaItem">
        <span class="title"><span id="expNum">0</span><sup>+</span>
        <span class="text">Years of Hands on <br/>Experience</span>
      </div>
      <div class="metaItem">
        <span class="title">3</span>
        <span class="text">Noticeable <br/>Github Projects</span>
      </div>
      <div class="metaItem">
        <span class="title">2016</span>
        <span class="text">Was When My Tech <br class="hidden-xs"/>Career Began</span>
      </div>
    </div>

    <!-- special -->
    <div class="keysDiv visible-lg">
      <ul class="list-unstyled">
        <li>
          <img src="./assets/icons/key-one.gif" class="img-responsive center-block" alt="Keyboard
          Key" title="Keyboard Key"/>
        </li>
        <li>
          <img src="./assets/icons/key-two.gif" class="img-responsive center-block" alt="Keyboard
          Key" title="Keyboard Key"/>
        </li>
        <li>
          <img src="./assets/icons/key-three.gif" class="img-responsive center-block" alt="Keyboard
          Key" title="Keyboard Key"/>
        </li>
        <li>
          <img src="./assets/icons/key-enter.gif" class="img-responsive center-block" alt="Keyboard
          Key" title="Keyboard Key"/>
        </li>
      </ul>
    </div>
  </div>
</section>
<!--jumbotron section ends here-->

<!-- favorite things -->
<section class="favoriteThings">
  <div class="borderBoxContainer">
    <p class="text">
      these are things that i love about human life.
    </p>
    <p class="things">
      <span class="odd">Pasta.</span>
      <span class="even">Chocolate Brownies.</span>
      <span class="odd">Star Trek.</span>
      <span class="even">Good Chinese Food.</span>
      <span class="odd">Dark Chocolate.</span>
      <span class="even">Meditation.</span>
      <span class="odd">Rock Music.</span>
      <span class="even">Lamborginis.</span>
    </p>
  </div>
</section>

<!-- skills -->
<div class="skillsParent">
  <div class="borderBoxContainer">
    <img src="/assets/icons/code-icon.gif" class="img-responsive codeIcon"
    alt="Technical Skills" title="Technical Skills"/>
    <h2>My Skills and Technical <br class="hidden-xs"/>Know Hows</h3>

    <!-- data structures -->
    <p class="introText">Data Structures:</p>
    <div class="dsaCarousel owl-carousel owl-theme" id="dsaCarousel">
      {% assign dsList = site.data.ds-list %}
      {% for ds in dsList %}
        <div class="item positionRelative">
          <img src="{{ ds.icon }}" class="img-responsive center-block mainIcon"
          alt="{{ ds.title }}" title="{{ ds.title }}"/>
          <div class="text">
            <h3>{{ ds.title }}</h3>
            <p>{{ ds.about }}</p>
            <a href="{{ ds.link }}">
              View Code
              <img src="./assets/icons/right-arrow-1040e2.svg" class="img-responsive center-block"
              alt="View Code" title="View Code"/>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>

    <!-- tech stack -->
    <div class="customRow techRow">
      <div class="segment">
        <p class="introText">Tech Stack/Experience:</p>
        <p class="description">
          i believe that writing software patiently is the key to building good applications. i also
          take the effort to write code that is clean and organized in the best possible way.
        </p>
      </div>
      <div class="segment">
        <ul class="list-unstyled">
          {% for skill in site.data.tech-stack %}
            {% assign listItemClass = "primary" %}
              {% if skill.is_potential == true %}
                {% assign listItemClass = "potential" %}
              {% elsif skill.is_focus == false %}
                {% assign listItemClass = "secondary" %}
              {% endif %}
            <li class="{{ listItemClass }}">
              <img src="{{ skill.icon }}" class="img-responsive skillIcon" alt="{{ skill.name }}"
              title="{{ skill.name }}"/>
              {% if skill.is_focus == true %}
                <img src="./assets/icons/green-check-mark.svg" class="img-responsive tickMark"
                alt="Primary Focus" title="Primary Focus"/>
              {% endif %}
              {% if skill.is_potential == true %}
                <img src="./assets/icons/question-icon.svg" class="img-responsive questionMark"
                alt="Limited Knowledge" title="Limited Knowledge"/>
              {% endif %}
              {{ skill.name }}
            </li>
          {% endfor %}
        </ul>
        <p class="legend">
          <img src="./assets/icons/green-check-mark.svg" class="img-responsive tickMark"
          alt="Primary Focus" title="Primary Focus"/>
          Primary focus. While others are areas that have experience in writing
          software and can provide additional assistance if needed
        </p>
        <p class="legend">
          <img src="./assets/icons/question-icon.svg" class="img-responsive questionMark"
          alt="Limited Knowledge" title="Limited Knowledge"/>
          Although I have limited knowledge, I can communicate requirements across team members and
          may in certain cases help resolve project requirements
        </p>
      </div>
    </div>
  </div>
</div>

<!-- end note -->
<div class="endnote">
  <div class="borderBoxContainer">
    <p>
      although i am capable of working in teams, i also aspire to become a strong individual
      contributor. i am actively involved in personal learning &amp; development as well.
    </p>
  </div>
</div>

<!-- contact me -->
<section class="contactMeParent" id="contactMeParent">
  <div class="borderBoxContainer">
    <img src="/assets/icons/sofa-icon.gif" class="img-responsive helloIcon"
    alt="Hello!" title="Love To Hear From You. Get In Touch"/>
    <h3>Love To Hear From You. <br class="hidden-xs"/>Get In Touch</h3>

    <!-- form -->
    <form class="form" id="contactMeForm">
      <div class="customRow">
        <div class="form-group positionRelative email">
          <label for="contactEmail">Your Email*</label>
          <input type="email" class="form-control" name="contactEmail" id="contactEmail"/>
          <span class="highlight"></span>
          <span class="error">?</span>
        </div>
        <div class="form-group positionRelative number">
          <label for="contactNumber">Your Number (Optional)</label>
          <input type="number" class="form-control" name="contactNumber" id="contactNumber"/>
          <span class="highlight"></span>
          <span class="error">?</span>
        </div>
      </div>
      <div class="form-group positionRelative">
        <label for="contactMessage">Your Message*</label>
        <textarea rows="5" class="form-control" name="contactMessage" id="contactMessage"></textarea>
        <span class="highlight"></span>
        <span class="error">?</span>
      </div>
      <button class="defaultButton primaryButton submitBtn" type="submit" id="submitButton">
        <span class="text">Just Send</span>
        <img src="/assets/icons/button-spinner.gif" class="img-responsive center-block spinner"
        alt="Processing..." title="Processing..."/>
      </button>
    </form>
  </div>
</section>
<!-- contact me -->

