---
permalink: "/"
bodyClass: homePage
bodyId: homePage
jsfile: "home/index"
---
<!--jumbotron section starts here-->
<section class="jumbotronSection positionRelative" id="jumbotronSection">
  <!-- intro -->
  <h1 class="text-center">Sricharan Krishnan</h1>
  <p class="text-center subTitle">Software Developer <br/>Based in Chennai, Tamil Nadu</p>

  <div class="customRow">
    <!-- segment -->
    <div class="hidden-xs segment left">
      <div class="item">
        <h2>About Me</h2>
        <p>Web Developer // The Aspiring Builder // Developer Underdog</p>
      </div>
      <div class="item">
        <h2>Where Am I From?</h2>
        <p>Chennai, Tamil Nadu. Best place to be if you like clear sunny skies.</p>
      </div>
      <div class="item">
        <h2>Why Am I Unique?</h2>
        <p>Ex-Hotelier. Transitioned into Software Developer.</p>
      </div>
    </div>
    <!-- hero image -->
    <img src="https://avatars.githubusercontent.com/u/19187230?v=4"
    class="img-responsive center-block heroImage"
    alt="Hero Image"
    title="Sricharan Krishnan | The Aspiring Builder/Student of the Art of Code/Developer Underdog"/>
    <!-- segment -->
    <div class="hidden-xs segment right">
      <div class="item">
        <h2>Actual Hands on Experience?</h2>
        <p><span class="largeNum">5</span> years</p>
      </div>
      <div class="item">
        <h2>How many noticeable Github Projects?</h2>
        <p><span class="largeNum">4</span> projects</p>
      </div>
      <div class="item">
        <h2>When did my journey begin?</h2>
        <p><span class="largeNum">2016</span></p>
      </div>
    </div>
  </div>

  <!-- metas -->
  <ul class="list-unstyled text-center meta">
    <li>
      <a href="https://github.com/sricharankrishnan" target="_blank">
        <img src="/assets/icons/github-mark-120-120.png" class="img-responsive center-block"
        alt="Sricharan Krishnan | Github.com" title="Sricharan Krishnan | Github.com"/>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/sricharan-krishnan/" target="_blank">
        <img src="/assets/icons/linkedin-icon.svg" class="img-responsive center-block linkedIn"
        alt="Sricharan Krishnan | LinkedIn.com" title="Sricharan Krishnan | LinkedIn.com"/>
      </a>
    </li>
  </ul>
  <!-- email -->
  <img src="/assets/icons/email-envelope-icon.gif" class="img-responsive center-block emailIcon visible-lg"
  alt="Srichran Krishnan | Email Address" title="Sricharan Krishnan | Email Address"/>
  <p class="text-center email">sricharan.krishnan@gmail.com</p>
</section>
<!--jumbotron section ends here-->

<!-- contact me -->
<section class="contactMeParent" id="contactMeParent">
  <div class="borderBoxContainer">
    <img src="/assets/icons/sofa-icon.gif" class="img-responsive helloIcon"
    alt="Hello!" title="Love To Hear From You. Get In Touch"/>
    <h3>Love To Hear From You. <br class="hidden-xs"/>Get In Touch</h3>

    <!-- form -->
    <form class="form" id="contactMeForm">
      <div class="customRow">
        <div class="form-group positionRelative email">
          <label for="contactEmail">Your Email*</label>
          <input type="email" class="form-control" name="contactEmail" id="contactEmail"/>
          <span class="highlight"></span>
          <span class="error">?</span>
        </div>
        <div class="form-group positionRelative number">
          <label for="contactNumber">Your Number (Optional)</label>
          <input type="email" class="form-control" name="contactNumber" id="contactNumber"/>
          <span class="highlight"></span>
          <span class="error">?</span>
        </div>
      </div>
      <div class="form-group positionRelative">
        <label for="contactMessage">Your Message*</label>
        <textarea rows="5" class="form-control" name="contactMessage" id="contactMessage"></textarea>
        <span class="highlight"></span>
        <span class="error">?</span>
      </div>
      <button class="defaultButton primaryButton submitBtn" type="submit" id="submitButton">
        <span class="text">Just Send</span>
        <img src="/assets/icons/button-spinner.gif" class="img-responsive center-block spinner"
        alt="Processing..." title="Processing..."/>
      </button>
    </form>
  </div>
</section>
<!-- contact me -->
