---
permalink: "/"
bodyClass: homePage
bodyId: homePage
jsfile: "home/index"
---
<!--jumbotron section starts here-->
<section class="jumbotronSection" id="jumbotronSection">
  <div class="customRow top positionRelative">
    <!-- intro -->
    <div class="segment">
      <h1>I'm Sricharan Krishnan</h1>
      <p class="subTitle">Software Developer <br/>Based in Chennai, Tamil Nadu</p>
      <div class="followParent">
        <span class="followMeText">Follow Me:</span>
        <ul class="list-unstyled followMe">
          <li>
            <a href="https://github.com/sricharankrishnan" target="_blank">
              <img src="/assets/icons/github-icon-000000.svg" class="img-responsive center-block"
              alt="Sricharan Krishnan | Github.com" title="Sricharan Krishnan | Github.com"/>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/sricharan-krishnan/" target="_blank">
              <img src="/assets/icons/linkedin-icon-000000.svg" class="img-responsive center-block linkedIn"
              alt="Sricharan Krishnan | LinkedIn.com" title="Sricharan Krishnan | LinkedIn.com"/>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- photo -->
    <div class="segment">
      <img src="https://avatars.githubusercontent.com/u/19187230?v=4"
      class="img-responsive center-block heroImage"
      alt="Hero Image"
      title="Sricharan Krishnan | The Aspiring Builder/Student of the Art of Code/Developer Underdog"/>
    </div>

    <!-- meta -->
    <div class="segment customRow last">
      <div class="metaItem">
        <span class="title">5<sup>+</span>
        <span class="text">Years of <br/>Experience</span>
      </div>
      <div class="metaItem">
        <span class="title">3</span>
        <span class="text">Noticeable <br/>Github Projects</span>
      </div>
      <div class="metaItem">
        <span class="title">2016</span>
        <span class="text">Was When My Tech <br class="hidden-xs"/>Career Began</span>
      </div>
    </div>

    <!-- special -->
    <div class="keysDiv visible-lg">
      <ul class="list-unstyled">
        <li>
          <img src="./assets/icons/key-one.gif" class="img-responsive center-block" alt="Keyboard
          Key" title="Keyboard Key"/>
        </li>
        <li>
          <img src="./assets/icons/key-two.gif" class="img-responsive center-block" alt="Keyboard
          Key" title="Keyboard Key"/>
        </li>
        <li>
          <img src="./assets/icons/key-three.gif" class="img-responsive center-block" alt="Keyboard
          Key" title="Keyboard Key"/>
        </li>
        <li>
          <img src="./assets/icons/key-enter.gif" class="img-responsive center-block" alt="Keyboard
          Key" title="Keyboard Key"/>
        </li>
      </ul>
    </div>
  </div>
</section>
<!--jumbotron section ends here-->

<!-- contact me -->
<section class="contactMeParent" id="contactMeParent">
  <div class="borderBoxContainer">
    <img src="/assets/icons/sofa-icon.gif" class="img-responsive helloIcon"
    alt="Hello!" title="Love To Hear From You. Get In Touch"/>
    <h3>Love To Hear From You. <br class="hidden-xs"/>Get In Touch</h3>

    <!-- form -->
    <form class="form" id="contactMeForm">
      <div class="customRow">
        <div class="form-group positionRelative email">
          <label for="contactEmail">Your Email*</label>
          <input type="email" class="form-control" name="contactEmail" id="contactEmail"/>
          <span class="highlight"></span>
          <span class="error">?</span>
        </div>
        <div class="form-group positionRelative number">
          <label for="contactNumber">Your Number (Optional)</label>
          <input type="number" class="form-control" name="contactNumber" id="contactNumber"/>
          <span class="highlight"></span>
          <span class="error">?</span>
        </div>
      </div>
      <div class="form-group positionRelative">
        <label for="contactMessage">Your Message*</label>
        <textarea rows="5" class="form-control" name="contactMessage" id="contactMessage"></textarea>
        <span class="highlight"></span>
        <span class="error">?</span>
      </div>
      <button class="defaultButton primaryButton submitBtn" type="submit" id="submitButton">
        <span class="text">Just Send</span>
        <img src="/assets/icons/button-spinner.gif" class="img-responsive center-block spinner"
        alt="Processing..." title="Processing..."/>
      </button>
    </form>
  </div>
</section>
<!-- contact me -->
