---
#Front End Matter Initialization - Do Not Delete This
---
/* We are using web font loaders. In case you would like to 
use the old fashion way of loading fonts with the font url link
then uncommnent this and the details in ./_sass/font-file.scss

@import "font-file";
*/
@import "common/_common";
@import "common/_app-header";
@import "common/_app-footer";
@import "vendor-components/html-5-bg/html5-video-bg-styles.scss";
@import "vendor-components/youtube-overlay/youtube-overlay.scss";

@keyframes circleAni {
	0% {
		border-radius: 50%;
		transform: translate(-50%, -50%) rotate(25deg);
	}
	25% {
		border-top-left-radius: 0;
		transform: translate(-50%, -50%) rotate(50deg);
	}
	50% {
		border-radius: 50%;
		transform: translate(-50%, -50%) rotate(75deg);
	}
	75% {
		transform: translate(-50%, -50%) rotate(100deg);
	}
	100% {
		border-bottom-right-radius: 0;
		transform: translate(-50%, -50%) rotate(125deg);
	}
}
@-webkit-keyframes circleAni {
	0% {
		border-radius: 50%;
		-webkit-transform: translate(-50%, -50%) rotate(25deg);
	}
	25% {
		border-top-left-radius: 0;
		-webkit-transform: translate(-50%, -50%) rotate(50deg);
	}
	50% {
		border-radius: 50%;
		-webkit-transform: translate(-50%, -50%) rotate(75deg);
	}
	75% {
		-webkit-transform: translate(-50%, -50%) rotate(100deg);
	}
	100% {
		border-bottom-right-radius: 0;
		-webkit-transform: translate(-50%, -50%) rotate(125deg);
	}
}
@-moz-keyframes circleAni {
	0% {
		border-radius: 50%;
		transform: translate(-50%, -50%) rotate(25deg);
	}
	25% {
		border-top-left-radius: 0;
		transform: translate(-50%, -50%) rotate(50deg);
	}
	50% {
		border-radius: 50%;
		transform: translate(-50%, -50%) rotate(75deg);
	}
	75% {
		transform: translate(-50%, -50%) rotate(100deg);
	}
	100% {
		border-bottom-right-radius: 0;
		transform: translate(-50%, -50%) rotate(125deg);
	}
}
@-ms-keyframes circleAni {
	0% {
		border-radius: 50%;
		transform: translate(-50%, -50%) rotate(25deg);
		-webkit-transform: translate(-50%, -50%) rotate(25deg);
	}
	25% {
		border-top-left-radius: 0;
		transform: translate(-50%, -50%) rotate(50deg);
		-webkit-transform: translate(-50%, -50%) rotate(50deg);
	}
	50% {
		border-radius: 50%;
		transform: translate(-50%, -50%) rotate(75deg);
		-webkit-transform: translate(-50%, -50%) rotate(75deg);
	}
	75% {
		transform: translate(-50%, -50%) rotate(100deg);
		-webkit-transform: translate(-50%, -50%) rotate(100deg);
	}
	100% {
		border-bottom-right-radius: 0;
		transform: translate(-50%, -50%) rotate(125deg);
		-webkit-transform: translate(-50%, -50%) rotate(125deg);
	}
}
@-o-keyframes circleAni {
	0% {
		border-radius: 50%;
		transform: translate(-50%, -50%) rotate(25deg);
	}
	25% {
		border-top-left-radius: 0;
		transform: translate(-50%, -50%) rotate(50deg);
	}
	50% {
		border-radius: 50%;
		transform: translate(-50%, -50%) rotate(75deg);
	}
	75% {
		transform: translate(-50%, -50%) rotate(100deg);
	}
	100% {
		border-bottom-right-radius: 0;
		transform: translate(-50%, -50%) rotate(125deg);
	}
}

.homePage {
  background: $black;
  .jumbotronSection {
    height: 100vh;
    overflow: hidden;
    text-align: center;
    color: $white;
    .posContainer {
      padding: 45px 20px;
      z-index: 25;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      width: 100%;
      img {
        max-width: 200px;
        border-radius: 50%;
      }
      h1 {
        font-size: 2.5rem;
        margin: 20px 0 5px;
        text-transform: uppercase;
      }
      p {
        color: #bbb;
        font-size: 1.2rem;
        line-height: 22px;
      }
    }
    .videoParent {
      opacity: 0.2;
    }
    .circle {
      width: 500px;
      height: 500px;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      border: 120px solid $green;
      border-radius: 50%;
      opacity: 0.25;
      animation: circleAni 5.5s infinite alternate;
      -webkit-animation: circleAni 5.5s infinite alternate;
      z-index: 20;
    }
    .email {
      font-weight: 300;
      font-size: 1.4rem;
      z-index: 30;
      position: absolute;
      bottom: 20px;
      left: 0;
      width: 100%;
      text-align: center;
    }
    .github {
      z-index: 30;
      position: absolute;
      top: 20px;
      left: 20px;
      img {
        width: 25px;
      }
    }
    .linkedIn {
      z-index: 30;
      position: absolute;
      top: 20px;
      right: 20px;
      img {
        width: 25px;
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .homePage {
    .jumbotronSection {
      .posContainer {
        img {
          max-width: 300px;
        }
        h1 {
          font-size: 3.0rem;
          letter-spacing: 5px;
          font-style: italic;
        }
        p {
          font-size: 1.5rem;
        }
      }
      .github, .linkedIn {
        font-size: 1.1rem;
        a {
          color: $white;  
          span {
            display: block;
          }
        }
      }
      .github {
        a {
          span {
            transform: rotate(-90deg) translate(-125px, -106px);
            -webkit-transform: rotate(-90deg) translate(-125px, -106px);
          }
        }
      }
      .linkedIn {
        top: auto;
        bottom: 20px;
        a {
          img {
            margin-left: auto;
          }
          span {
            transform: rotate(90deg) translate(-200px, -134px);
            -webkit-transform: rotate(90deg) translate(-200px, -134px);
          }
        }
      }
    }
  }
}
