---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- [meta info] -->
    {% include app-meta/index.html %}
    <!-- [meta info] -->

    <!-- [critical inline css] -->
    <style type="text/css">
    {% capture criticalRender %}
      {% include initial-render.scss %}
    {% endcapture %}
    {{ criticalRender | scssify }}
    </style>
    <!-- [critical inline css] -->
  </head>
  <body class="{{ page.bodyClass }}" id="{{ page.bodyId }}">
    <!--Custom No Script Tag for Javascript Disabled-->
    <noscript>
      <div class="noscriptDiv">
        <div class="posContainer text-center">
          <p>Hey!</p>
          <p>This website will work better with Javascript enabled. Please enabled it in your Browser. Thanks.</p>
        </div>
      </div>
    </noscript>
    <!--Custom No Script Tag for Javascript Disabled-->

    <!-- [app loader] -->
    {% include app-loader/index.html %}
    <!-- [app loader] -->

    <div class="appRoot hide" id="appRoot">
      <!-- [app nav partial] -->
      <nav>{% include app-nav/index.html %}</nav>
      <!-- [app nav partial] -->

      <!-- [main content] -->
      <main>{{ content }}</main>
      <!-- [main content] -->

      <!-- [app footer partial]-->
      <footer>{% include app-footer/index.html %}</footer>
      <!-- [app footer partial]-->
    </div>

    <!-- [app fonts config] -->
    {% include app-webfonts/index.html %}
    <!-- [app fonts config] -->

    <!-- [js file timestamp] -->
    <script type="text/javascript">
      var serveFileVer = "?serveFileVer=20032022_1722";
    </script>
    {% assign serveFileVer = "20032022_1722" %}
    <!-- [js file timestamp] -->

    <!-- [javascript files] -->
    {% assign mode = "development" %}
    {% if mode == "development" and page.jsfile != "" %}
      <script src="/assets/js/vendor-components/jquery/jquery-3.3.1.min.js?serveFileVer={{ serveFileVer }}" type="text/javascript"></script>
      <script src="/assets/js/vendor-components/jquery/jquery.cookie.js?serveFileVer={{ serveFileVer }}" type="text/javascript"></script>
      <script src="/assets/js/vendor-components/bootstrap/bootstrap.min.js?serveFileVer={{ serveFileVer }}" type="text/javascript"></script>
      <script src="/assets/js/vendor-components/owl-carousel-2/owl.carousel.min.js?serveFileVer={{ serveFileVer }}" type="text/javascript"></script>
      <script src="/assets/js/common.js?serveFileVer={{ serveFileVer }}" type="text/javascript"></script>
      <script src="/assets/js/{{ page.jsfile }}.js?serveFileVer={{ serveFileVer }}" type="text/javascript"></script>
    {% endif %}
    {% if mode == "production" and page.jsfile != "" %}
      <script src="/assets/js/{{ page.jsfile}}.min.js?serveFileVer={{ serveFileVer }}" type="text/javascript"></script>
    {% endif %}
    <!-- [javascript files] -->
  </body>
</html>
