@import "modules/_variables";

.appFooter {
  background: $black;
  padding: 60px 15px;
  .borderBoxContainer {
    .posContainer {
      max-width: 550px;
      .footerAppIcon {
        width: 30px;
        margin-bottom: 20px;
      }
      h4 {
        margin-top: 0;
        margin-bottom: 5px;
        color: $white;
        font-weight: 400;
        font-size: 1.5rem;
      }
      .subText {
        font-size: 1.0rem;
        font-style: italic;
        color: #666;
        display: block;
        margin-bottom: 15px;
      }
      p {
        font-size: 1.3rem;
        line-height: 19px;
        color: #888;
      }
    }
    .links {
      margin-top: 20px;
      ul {
        margin-bottom: 0;
        li {
          display: inline-block;
          margin-right: 7px;
          a {
            img {
              width: 25px;
            }
          }
        }
        li:last-child {
             margin-right: 0;
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .appFooter {
    padding: 100px 15px;
    .borderBoxContainer {
      max-width: 85%;
      margin: 0 auto;
    }
  }
}
@media only screen and (min-width: 1200px) {
  .appFooter {
    .borderBoxContainer {
      .posContainer {
        float: left;
      }
      .links {
        margin-top: 0;
        float: right;
        width: calc(100% - 550px);
        ul {
          text-align: right;
          li {
            a {
              img {
                width: 30px;
              }
            }
          }
        }
        .subtext {
          font-size: 1.0rem;
          font-style: italic;
          text-align: right;
          display: block;
          color: $green;
        }
      }
    }
    .gadRow {
      max-width: 1000px;
      margin: 25px auto 0;
      .fGad {
        width: 320px;
        float: left;
      }
      .fGad:nth-child(2) {
        margin: 0 10px;
      }
    }
  }
}
