@import "common-imports/variables.scss";

.navParent {
  padding: 20px;
  font-family: monospace;
  font-weight: 500;
  font-size: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  .borderBoxContainer {
    max-width: 1100px;
    margin: 0 auto;
    img {
      width: 20px;
      display: inline-block;
      margin-right: 7px;
    }
  }
}
