@import "common-imports/variables.scss";
@import "vendor-components/html5-bg-video/html5-video-bg.scss";

.videoCreative:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.footerParent {
  background: $black;
  padding: 19px 20px;
  p {
    color: $white;
    margin: 0;
    line-height: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .videoCreative:before {
    padding-top: 45%;
  }
}
@media only screen and (min-width: 992px) {
  .videoCreative:before {
    padding-top: 35%;
  }
}
@media only screen and (min-width: 1200px) {
  .videoCreative:before {
    padding-top: 25%;
  }
  .footerParent {
    padding: 20px;
  }
}
