@import "common-imports/variables.scss";

.navParent {
  padding: 20px;
  font-family: monospace;
  font-weight: 500;
  font-size: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  .borderBoxContainer {
    max-width: 1100px;
    margin: 0 auto;
    img {
      width: 40px;
      display: inline-block;
      margin-right: 7px;
    }
    .resumeLink {
      border: 0;
      text-transform: uppercase;
      background: url('/assets/icons/suitcase-icon.gif') no-repeat left -3px;
      background-size: 35px;
      padding-left: 38px;
      font-weight: 600;
      width: 105px;
      float: right;
    }
  }
}
