@import "common-imports/variables.scss";

/* snackbar styles */

.alert {
  margin: 0;
  font-size: 1.4rem;
  line-height: 21px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  max-width: calc(100% - 40px);
  z-index: 900;
  @include app-transition(all, 0.25s, linear);
}
.alert.dismiss {
  transform: translateX(-50%) scale(0);
  -webkit-transform: translateX(-50%) scale(0);
}
